################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab_2/.vs/Lab_2/v16
/Lab_2/bin/Debug
/Lab_2/obj/Debug
